/* FUENTE  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERALES, TITULOS Y PARRAFOS */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#1F2937;
    font-weight: 350;
    
}

h1 {
    color: #F9FAFB;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #4f0a30;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: #6e7623;
    text-align: center;
    margin-top: 20px;
}

h4 {
    color: #4e0c9f;
    text-align: center;
    margin-top: 20px;
}

h5

p {
    color: #710c4e;
    text-align: center;
    margin-top: 10px;
}

/* HEADER */

header {
    background-color: #e8ebef;
    padding: 20px;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #17a55e;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}