/* FUENTE  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERALES, TITULOS Y PARRAFOS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#1F2937;
    font-weight: 350;
    
} 


.caja {
    content: 5px;
    padding: 30px;
    border: 2px solid #d53838; /* 2px de grosor, línea continua, color gris oscuro */
}

h1 {
    color: #F9FAFB;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #4f0a30;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: #6e7623;
    text-align: center;
    margin-top: 20px;
}

h4 {
    color: #4e0c9f;
    text-align: center;
    margin-top: 20px;
}

h5,
p {
    color: #710c4e;
    text-align: center;
    margin-top: 10px;
}

/* HEADER */


header {
    background-color: #e8ebef;
    padding: 20px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecefed;
    padding: 20px;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

.logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
}

/* MAIN */

.plansemanal {
    background-color: #8daac7;
    content: 10px;
    padding: 20px;
    border: 2px solid #d53838;
    margin: 20px;
   

}

.planindividual {
    background-color: #06284b;
    content: 10px;
    padding: 20px;
    border: 2px solid #d53838;
    margin: 20px;
}

.planempresas {
    background-color: #122233;
    content: 10px;
    padding: 20px;
    border: 2px solid #d53838;
    margin: 20px;
}

.nombre {
    font-size: 25px;
    background-color: #06284b;
    content: 10px;
    padding: 20px;
    border: 2px solid #d53838;
    margin: 20px;
}

/* FOOTER */

footer {
    background-color: #17a55e;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}


